@model Car
<div class="card mb-3">
    <img style="object-fit: unset" src="@Url.Content(Model.ImageURL)" alt="NoImage" class="card-img-top">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title" name="Title">@Model.Name</h5>
            <p class="card-text">Category: @Model.Category.Name</p>
            <p class="card-text"><small class="text-muted">Price: @Model.Price.ToString("C") </small></p>
        </div>
        <a asp-action="Purchase" asp-controller="Checkout" asp-route-id="@Model.Id"><button class="btn btn-sm btn-success" type="submit">Buy: @Model.Price.ToString("C")</button></a>
    </div>
</div>

